 <%- contentFor("main") %>
	<link rel="stylesheet" href="/index/styles.css" type="text/css" />
	<title>Dodgeball V2</title>
	<canvas id="field"></canvas>
	<script src="/game/matter.js"></script>
	<script src="/game/game.js"></script>
