#consentQuestion {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 36vw;
	background: var(--background-tertiary);
	padding: 2vw;
	border-radius: 2vw;
	font-size: 13px;
}
#consentQuestion #close {
	position: absolute;
	top: 1vw;
	right: 1vw;
	height: 2vw;
	width: 2vw;
	padding: 0;
	margin: 0;
	border: 0;
	background: url('/imgs/x.svg');
	opacity: 0.3;
	transition: opacity 250ms;
	cursor: pointer;
}
#consentQuestion:hover #close {
	opacity: 1;
}
#consentButton {
	display: block;
	border: 0;
	background: var(--background-secondary);
	color: var(--text-normal);
	font-weight: lighter;
	font-size: initial;
	padding: 0.5em;
	border-radius: 10px;
	transition: background 250ms, color 250ms;
	margin-top: 1em;
}
#consentButton:hover {
	background: var(--background-secondary-alt);
	color: var(--text-normal);
}
#consentQuestion > h1 {
	margin: 0;
}
#closeConsent {
	position: absolute;
	top: 1vw;
	right: 1vw;
	height: 2vw;
	width: 2vw;
	padding: 0;
	border: 0;
	background: url('/imgs/x.svg');
	opacity: 0.3;
	transition: opacity 350ms;
	cursor: pointer;
}
#consentQuestion:hover #closeConsent {
	opacity: 1;
}
